{% extends 'base.html' %}
{% block aboutactive %} active {% endblock %}
{% block title %}
About
{% endblock title %}
{% load static %}
{% block body %}

<div class="container my-5">
    <div class="jumbotron bg-dark">
        <center><h2 class="text-primary">About Us</h2></center>
        <center><img src="{% static 'download.png' %}" class="img-rounded" style="height: 180px;" alt="oops"></center>
        <center><h5 class="text-primary">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ducimus deleniti fugit adipisci quis modi obcaecati voluptatum maxime, consequuntur, distinctio molestiae porro doloremque! Necessitatibus,
            debitis nam! Aperiam reprehenderit iure nam natus.</h5>
        <h4 class="text-primary">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ducimus deleniti fugit adipisci quis modi obcaecati voluptatum maxime, consequuntur, distinctio molestiae porro doloremque! Necessitatibus,
            debitis nam! Aperiam reprehenderit iure nam natus.</h4></center>
    </div>
</div>

{% endblock body %} 